{% extends 'base.html' %}
{% block title %} Questions {% endblock %}
{% block content %}
    {% for msg in get_flashed_messages() %} <p><b> {{ msg }} </b></p>{% endfor %}
    <form action="/answer" method="POST">
        <label> {{ question }} </label>
        <input type="radio" name="choices" value="choice_1">
        <label>{{ choice_1 }}</label>
        <input type="radio" name="choices" value="choice_2">
        <label>{{ choice_2 }}</label>
        <button>Continue</button>
    </form>
{% endblock %}